/*
  demo pages layout
*/

.demo {
  $-footer-height: 5.5rem;
  $-footer-z-index: 2;
  $-header-height: 7rem;
  $-header-z-index: 2;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: 
    'header'
    'main'
    'footer';

  .header {
    grid-area: header;
    height: $-header-height;
    position: fixed;
    top: 0;
    z-index: $-header-z-index;
  }

  .main {
    grid-area: main;
    margin-top: $-header-height;
  }

  .footer {
    grid-area: footer;
    height: $-footer-height;
    z-index: $-header-z-index;
  }
}


/*
  demo colors
*/

.demo {
  .color-list {
    display: block;
    list-style: none;
    margin: .25rem -.25rem;
  }


  .color {
    border: 1px solid color(neutral, 200);
    display: inline-block;
    height: 6rem;
    margin: .25rem;
    position: relative;
    width: 6rem;
  
    &::after {
      @include contrast(color(white));
      border-top: 1px solid color(neutral, 200);
      bottom: 0;
      font-size: font(small, size);
      padding: .25rem 0;
      position: absolute;
      text-align: center;
      white-space: pre-line;
      width: 100%;
    }
  
  
    $-demo-colors:
      accent,
      black,
      neutral,
      primary,
      white,
      
      danger,
      info,
      success,
      warning;
  
    $-demo-neutral-colors: map-get($colors, neutrals);
  
  
  
    @mixin demo-color($color, $value) {
      background: $value;
  
      &::after {
        content: '#{$color} \00000a #{$value}';
      }
    }
  
  
    @each $-color in $-demo-colors {
      &.color-#{'' + $-color} {
        $-value: color($-color);
        @include demo-color($-color, $-value);
      }
    }
  
    @each $-color, $-value in $-demo-neutral-colors {
      &.color-neutral-#{'' + $-color} {
        @include demo-color($-color, $-value);
      }
    }
  }  
}
