/*
  footer properties
*/

$-footer-background: color(black);
$-footer-padding: 2rem;


.footer {
  @include contrast(
    $-footer-background,
    color(text, dark),
    color(text, light)
  );
  padding: $-footer-padding;

  .link {
    color: inherit;
  }
}
