$-main-background: color(neutral, 100);

.main {
  @include contrast(
    $-main-background,
    color(text, dark),
    color(text, light),
  );
  padding: 1.5rem 2rem;

  .link {
    color: color(primary);
  }
}

.main-side-nav {
  padding-left: 13.5rem;
  position: relative;
}
