.color-list {
  display: block;
  list-style: none;
  margin: -.5rem -.5rem 1rem;
}

.color-list .color {
  border: 1px solid color(neutral, 300);
  display: inline-block;
  height: 6rem;
  margin: .5rem;
  position: relative;
  width: 6rem;

  &::after {
    @include contrast(color(white));
    border-top: 1px solid color(neutral, 300);
    bottom: 0;
    font-size: font(small, size);
    position: absolute;
    text-align: center;
    white-space: pre-line;
    width: 100%;
  }

  @mixin demo-color($color, $value) {
    background: $value;

    &::after {
      content: '#{$color} \00000a #{$value}';
    }
  }


  $-color-list: black, neutral, primary, white, danger, info, success, warning;
  
  @each $-color in $-color-list {
    &.color-#{'' + $-color} {
      $-value: color($-color);
      @include demo-color($-color, $-value);
    }
  }


  $-color-neutral-map: map-get($colors, neutrals);

  @each $-color, $-value in $-color-neutral-map {
    &.color-neutral-#{'' + $-color} {
      @include demo-color($-color, $-value);
    }
  }
}
