.main h1.title {
  color: color(primary);
  font-size: 2.5rem;
  text-transform: uppercase;
}

.main h2.subtitle {
  color: color(primary);
  font-size: 2rem;
}

.main h3.subsubtitle {
  color: color(primary);
  font-size: 1.5rem;
}
