$-body-background: color(white);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  min-height: 100vh;
}

html {
  font: normal 16px sans-serif;
}

body {
  @include contrast(
    $-body-background,
    color(text, dark),
    color(text, light)
  );
  font-family: font(text, family);
  font-size: font(text, size);
  font-weight: font(text, weight);
  line-height: font(text, line-height);
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;

  &.link {
    color: color(primary);
  }

  &.link:active,
  &.link:hover {
    text-decoration: underline;
  }
}

nav a,
nav .link {
  color: inherit;
}

p {
  margin: 0 0 1rem;
}

h1, h2, h3, h4, h5, h6, .title, .subtitle {
  color: contrast(
    $-body-background,
    color(text, dark-accent),
    color(text, light-accent)
  );
  font-family: font(title, family);
  font-weight: font(title, weight);
  letter-spacing: font(title, letter-spacing);
  line-height: font(title, line-height);
  margin: 0 0 1rem;
}

.title + .subtitle {
  margin-top: -.5rem;
}

h1 {
  font-size: 3.25rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

hr {
  border: solid color-neutral(300);
  border-width: .125rem 0 0;
  margin: 1.5rem 0;
}
