/*
  element properties
*/

$-body-background: color(neutral, 100);

$-code-background: color(neutral, 100);


/*
  html + body
*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  min-height: 100vh;
}

html {
  font: normal 16px sans-serif;
}

body {
  @include contrast($-body-background);
  font-family: font(text, family);
  font-size: font(text, size);
  font-weight: font(text, weight);
  line-height: font(text, line-height);
}


/*
  links + nav
*/

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;

  &.link {
    color: color(primary);
  }

  &.link:active,
  &.link:hover {
    text-decoration: underline;
  }
}

nav a,
nav .link {
  color: inherit;
}


/*
  titles + text
*/

h1, h2, h3, h4, h5, h6, .title, .subtitle {
  color: contrast(
    $-body-background,
    color(text, dark-accent),
    color(text, light-accent)
  );
  font-family: font(title, family);
  font-weight: font(title, weight);
  letter-spacing: 1px;
  line-height: font(title, line-height);
  margin: 0 0 1rem;
}

h1 { font-size: 2.4rem; }
h2 { font-size: 1.8rem; }
h3 { font-size: 1.5rem; }
h4 { font-size: 1.25rem; }
p { margin: 0 0 1rem; }


/*
  code
*/

%code {
  @include contrast($-code-background);
  font-family: font(code, family);
  font-size: font(code, size);
  font-weight: font(code, weight);
  line-height: font(code, line-height);
}

code {
  @extend %code;
  display: inline-block;
  margin: 0 .25rem;
  padding: .25rem .5rem;
}

pre {
  @extend %code;
  display: block;
  margin: 0 0 1rem;
  padding: 1rem;
}


/*
  horizontal rule
*/

hr {
  border: solid color(neutral, 200);
  border-width: 1px 0 0;
  margin: 2rem 0;
}
