$-footer-background: color(neutral, 700);

.footer {
  @include contrast(
    $-footer-background,
    color(text, dark),
    color(text, light)
  );
  font-size: font(small, size);
  padding: 1.5rem 2rem;

  .link {
    color: inherit;
  }
}
