$-header-background: color(primary);

.header {
  @include contrast($-header-background);
  padding: 1.5rem 2rem;
  width: 100vw;
}

.header .title {
  color: contrast(
    $-header-background,
    color(text, dark-accent),
    color(text, light-accent)
  );
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
